.image3-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    margin-bottom: 32px;
}

.image3-text-section {
    flex: 1;
    padding-right: 20px;
}
.image3-text-section span{
    color:#800000;
    font-weight: 200;
    font-size: 5rem;
}

.image3-text-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-size: 3rem;
}

.image3-text-section p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.image3-image-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image3-large-image {
    margin-bottom: 10px;
}

.image3-large-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image3-bottom-images {
    display: flex;
    gap: 10px;
}

.image3-small-image {
    flex: 1;
}

.image3-small-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}