.layout-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    margin-top: 130px;
}

.layout-left-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f7c7c7;
}

.layout-image-container {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -12px;
    border-radius: 20px;
    background-color: transparent;
    /* Ensure no extra background color inside the container */
    flex-direction: column;
    /* Align image and text vertically */
}

.layout-image {
    max-width: 90%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 20px;
}

.layout-right-column {
    flex: 1;
    padding: 10px;
    margin-top: 50px;
}

.layout-title {
    font-size: 58px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
    color: #333;
}

.layout-description {
    font-size: 1em;
    color: #555;
    line-height: 1;
    margin-bottom: 20px;
}

.layout-description-secondary {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.layout-action-button {
    background-color: rgb(227, 29, 29);
    color:white;
    border: 1px solid yellow;
    border-radius: 5px;
    margin: 26px 0;
    padding: 10px 20px;
    width: 170px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.layout-action-button:hover {
    color:yellow;
    /* Text color becomes red on hover */
    transform: scale(1.05);
    /* Slight enlargement */
}