.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 400px;
    margin: 125px;
}

.left-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.image-container {
    width: 80%;
    height: 80%;
    background-color: rgba(255, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.right-column {
    flex: 1;
    padding: 20px;
}
.right-column h2{
    font-size: 58px;
    font-weight: 200;
    font-style: italic;
}

.title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.description {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.action-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin:26px;
    padding: 10px 20px;
    width: 170px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease, color 0.3s;
}

.action-button:hover {
    background-color: orangered;
    color: white;
    transform: scale(1.05);
}